@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence:BLED,SCAN,XELA,YELA@19,8,-100,-89&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet&display=swap");

.sixtyfour-convergence-font {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 19, "SCAN" 8, "XELA" -100, "YELA" -89;
  text-align: center;
  margin: 0;
}
.noto-sans-sc-font {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navBar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 10px;
}

.navBar li {
  margin-right: 20px;
}
.ulFlex {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}

a {
  color: #333;
  text-decoration: none;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .navBar {
    flex-direction: column; /* 小屏幕上导航栏项目垂直排列 */
    padding: 10px 20px;
  }
  .ulFlex {
    flex-direction: column; /* 垂直排列 */
  }
  .navBar li {
    margin: 10px 0; /* 导航项上下间距 */
  }
}
