hr {
  margin: 10px 40px;
  border: none;
  border-top: 3px solid #eeeeee;
  border-radius: 3px;
}
.navBarMain {
  margin: 0px 40px;
}
.title-font {
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding-top: 35px; /* 与导航栏高度保持一致 */
}
